<nav class="navbar navbar-fixed-top navbar-light bg-primary">
  <div class="container-fluid">
    <img class="navbar-brand" src="logo.png" alt="logo">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a href="#" class="nav-link">START</a></li>
      ...
    </ul>
  </div>
</nav>

<nav>
	<a [routerLink]=" ['./home'] "
		routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
		Home
	</a>
	<a [routerLink]=" ['./detail'] "
		routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
		Detail
	</a>
	<a [routerLink]=" ['./barrel'] "
		routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
		Barrel
	</a>
	<a [routerLink]=" ['./about'] "
		routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
		About
	</a>
</nav>

<main>

</main>

<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>

<footer>
	<span>This website was created by <a [href]="instagram">Lizelle Fourie</a></span>
	<div>
		<a [href]="url">
			<img [src]="tipe" width="5%">
		</a>
	</div>
</footer>
