<nav class="navbar navbar-fixed-top">
	<div class="logo">
		<img class="navbar-brand" src="/assets/img/liz-fourie-logo.png" alt="logo">
	</div>
	<div class="navlist">
		<a [routerLink]=" ['./home']"
			routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
			Home
		</a>
		<a [routerLink]=" ['./mood-board']"
			routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
			Mood Board
		</a>
		<a [routerLink]=" ['./about-me']"
			routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
			About Me
		</a>
	</div>
</nav>

<main>
	<router-outlet></router-outlet>
</main>

<footer>
	<span>This website was created by <a [href]="instagram">Liz Fourie</a></span>
	<div>
		<a [href]="url">
			<img [src]="tipe" width="5%">
		</a>
	</div>
</footer>
